[Unit]
Description=Start x11vnc at startup.
After=multi-user.target
OnFailure=status-mail@x11vnc.service

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -xkb -noxrecord -noxfixes -noxdamage -display {{ x11vnc_display }} -auth guess -forever -rfbauth "{{ x11vnc_rfb_pass_file }}" -rfbport {{ x11vnc_rfb_port|int }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
