Types: deb
URIs: http://deb.debian.org/debian/
Suites: {{ ansible_distribution_release }} {{ ansible_distribution_release }}-updates
Components: main contrib non-free-firmware
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg

Types: deb
URIs: http://security.debian.org/debian-security/
Suites: {{ ansible_distribution_release }}-security
Components: main contrib non-free-firmware
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg
