- assert:
    that: telegraf_state in ('present', 'absent')
    quiet: yes

- name: stop and disable telegraf service
  service:
    name: telegraf
    state: stopped
    enabled: no
  register: service_result
  failed_when:
    - service_result|failed
    - "'not find' not in service_result.msg"
  when: telegraf_state == 'absent'

- name: remove old influxdata apt source file without signed-by
  file:
    path: /etc/apt/sources.list.d/repos_influxdata_com_debian.list
    state: absent

- name: add influxdb gpg signing key
  get_url:
    url: https://repos.influxdata.com/influxdata-archive_compat.key
    dest: /usr/share/keyrings/influxdata-archive.asc
    mode: '0644'
  when: telegraf_state == 'present'

- name: remove influxdb gpg signing key
  file:
    path: /usr/share/keyrings/influxdata-archive.asc
    state: absent
  when: telegraf_state == 'absent'

- name: add/remove influxdb repository
  apt_repository:
    repo: 'deb [signed-by=/usr/share/keyrings/influxdata-archive.asc] https://repos.influxdata.com/debian stable main'
    filename: influxdata
    state: "{{ telegraf_state }}"

- name: install telegraf dependencies
  apt:
    name: "{{ telegraf_apt_dependencies }}"
    state: latest
  when: telegraf_state == 'present'
  notify: restart telegraf

- name: install telegraf
  apt:
    name: telegraf
    state: latest
  when: telegraf_state == 'present'
  notify: restart telegraf

- name: uninstall telegraf
  apt:
    name: telegraf
    state: absent
  when: telegraf_state == 'absent'

- include_tasks: present.yml
  when: telegraf_state == 'present'

- meta: flush_handlers
