[Unit]
Description=ZCash Daemon
After=network.target
OnFailure=status-mail@{{ zcash_wallet_service }}.service

[Service]
Type=simple
ExecStart={{ zcash_wallet_daemon }}
WorkingDirectory=/tmp
KillMode=mixed
KillSignal=SIGKILL
SyslogIdentifier={{ zcash_wallet_service }}
Restart=on-failure
User={{ zcash_wallet_system_user }}

[Install]
WantedBy=multi-user.target
