[Unit]
Description={{ ccminer_coin_service }}
After=network.target
OnFailure=status-mail@{{ ccminer_coin_service }}.service

[Service]
Type=simple
{% if ccminer_coin_overclock_at_start|default()|bool and ccminer_coin_overclock_command|trim %}
ExecStartPre={{ ccminer_coin_overclock_command|trim }}
{% endif %}
ExecStart={{ ccminer_exe_binary }} --config="{{ ccminer_coin_config_dir }}/{{ ccminer_coin_name }}.json"
WorkingDirectory=/tmp
KillMode=mixed
KillSignal=SIGINT
SyslogIdentifier={{ ccminer_coin_service }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
