[[inputs.exec]]
  commands = [
{% if nicehash_stats_include_market_stats|bool %}
    "{{ nicehash_stats_script_path }} --api-key='{{ nicehash_api_key }}' --api-secret='{{ nicehash_api_secret }}' --org-id='{{ nicehash_organization_id }}' market",
{% endif %}
{% if nicehash_stats_include_wallet_stats|bool %}
    "{{ nicehash_stats_script_path }} --api-key='{{ nicehash_api_key }}' --api-secret='{{ nicehash_api_secret }}' --org-id='{{ nicehash_organization_id }}' wallet",
{% endif %}
    "{{ nicehash_stats_script_path }} --api-key='{{ nicehash_api_key }}' --api-secret='{{ nicehash_api_secret }}' --org-id='{{ nicehash_organization_id }}' rig --rig-id '{{ nicehash_rig_id|mandatory }}'"
  ]
  timeout = "{{ nicehash_stats_timeout_s|int }}s"
  data_format = "influx"