[[inputs.exec]]
  name_override = "{{ nut_stats_metric_name }}"
  commands = [
    "{{ nut_stats_script_install_dir }}/ups-stats {{ nut_stats_target }}"
  ]
  timeout = "{{ nut_stats_timeout_s|int }}s"
  data_format = "influx"
