[Unit]
Description=Start {{ sysdweb_service }} at startup.
After=multi-user.target
OnFailure=status-mail@{{ sysdweb_service }}.service

[Service]
Type=simple
ExecStart={{ sysdweb_script_path }} -c "{{ sysdweb_dir }}/{{ sysdweb_service }}.conf"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
