[[inputs.exec]]
{% if tplink_plug_stats_metric_name|bool %}
  name_override = "{{ tplink_plug_stats_metric_name }}"
{% endif %}
  commands = [
{% for ip_address in tplink_plug_stats_ip_addresses %}
    "{{ tplink_plug_stats_script_path }} --host {{ ip_address }}",
{% endfor %}
  ]
  timeout = "{{ tplink_plug_stats_timeout_s|int }}s"
  data_format = "influx"
