ansible_host: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  33336538613433303161393161326437663538363134613631636538636264383032653734333266
  6336366566643765303464616530343963636561656533650a323165383931363038653363343963
  36646139626366326538303032306634643432626365363637626139633839646361393738613339
  3762663665623065350a313062633631303161316230383761396430373961353961613531653033
  37363430623730386663366335316135616431616561633364656530613735623366

additional_env_vars: # TODO: Why is this needed?
  XAUTHORITY: /home/pi/.Xauthority
  DISPLAY: :0

authorized_keys:
  - key: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMNxxAEcT71BAXlVhmi76gjI26BkXwjAgcLaPLIMI+i8 dmiller
    user: pi
    state: present
  - key: ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBPUgzXYNTvTCcUHjzdXvy2LZA6YFZKrHrfsse3ipP2ldbhnmU/Io9I/lUligmdaCFktcxwgzZRYawWJI1IsUnZA= dmiller
    user: pi
    state: present
  - key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQChNryHWkasg7O7YLfLSffWjrP+e6eAt5olYIPgBCeqBgPHYK3sJkAo/UHuJ1SQA22qMQlHI/2m2chASZ7tbbkaBEkWlBlbAQpwleuJE0WBN8hJd49dJToW9d6q6hNwq9bmnlA/VTkzsLAqpSEANnO28WMhHI+Upn924L4lC4tVJQmSUPm8ENgU5RVW9EcSkfIBPrIdFW0zqxPEFzZXlaOqxmbOvgS4qWirjHe4PXC1Z8DeYlK9DSTM/KGX0pz8Jgz0shKwxDpdn/j36KP1jlygwrWmnDXuWuMuU44HjMZzA3A9XKuHqiROrv1K0A4M1t5DN/UbWSNQBhQOWdica2Qaek2+dUQ5m5bgYw7sSTW5Oz/jvWU71NdFhmN9eXCJukiN7UwznecnOHf0O/Si5fFf6iJzLjHELi1JKzVLvADyZTlaxmZB82MmveB99eArOUquaeO4rOHugmOVosW/Gg4wj1j19gFy0E+yVuP01tg999YF2ST8l6Z81w2xBrZYKKw+tgQlm/WbxkzRxnumTx7JH/AddFTZvTADQB11DRySmrWBKC4QCGo8+8SdwitHt6WzDZAuOqYPK+mtMtGY3TKGazRRUvCKVTALamJWjbZcizQGj3PqfVr8+wB/+TzsUU9vJPPo9skZrYHwom/3Wu1TlAAaYd8hTriqGK7gzm1CNw== dmiller
    user: pi
    state: present

additional_docker_users:
  - pi
docker_compose_definition:
  networks:
    apps:
      driver: bridge
  volumes:
    homebridge:
    portainer-agent-data:
  services:
    portainer-agent:
      container_name: portainer-agent
      image: portainer/agent:latest
      restart: always
      networks:
        - apps
      volumes:
        - /var/lib/docker/volumes:/var/lib/docker/volumes
        - /var/run/docker.sock:/var/run/docker.sock
        - /:/host
        - portainer-agent-data:/data
      environment:
        TZ: America/Chicago
        EDGE: 1
        EDGE_ID: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          34383836383265653630656465306630316362313533336331356630353165613662623064383437
          6332666335346339303434373762366331373839623034310a643764316230316138353030653530
          38373466393034613332383730376333326332656634623138363439363762633766346639663230
          6234323037303439350a636337633461656430616536643161643761343531313335373363323436
          38656362343365323930323066396364396435373036363662306635303564653735396439616538
          6438353039396430393366323439663132663264323535386265
        EDGE_KEY: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          39613936646264373533333439393061376162623064326231386332623935343262653336623263
          3661633333313939366637376630346565333039303333320a653962393734626161363163613839
          34643030373337636435346338656432663038623165656566653862303533366164346630666637
          3432306131663631320a643339316633393633373764356639666435316432323662306234313030
          30353331396663636633353130633131643463323065626237633330333436383937376564326536
          34316465396138623336643133613830646235643130376439666539643663626237646662306363
          33663664353030386138366266646432323835313538653461616439663966656635363039643730
          66623632643539636631643565336531656438363539346339346539373835633934396237643235
          39306133346234653734393664653431336333303939633538316665613039333638393933646261
          61376333323763633335343031333437643361633134306461636534313334386466613734373231
          336265383039343333353434343964326662
        EDGE_INSECURE_POLL: 1
    homebridge:
      container_name: homebridge
      restart: unless-stopped
      image: homebridge/homebridge:latest
      network_mode: host
      logging:
        driver: json-file
        options:
          max-size: "10mb"
          max-file: "1"
      volumes:
        - homebridge:/homebridge
      environment:
        TZ: America/Chicago
    docker-volume-backup:
      container_name: docker-volume-backup
      image: offen/docker-volume-backup:latest
      restart: unless-stopped
      networks:
        - apps
      environment:
        BACKUP_CRON_EXPRESSION: "0 0 * * *"
        BACKUP_FILENAME: backup-%Y-%m-%dT%H-%M-%S.tar.gz
        BACKUP_PRUNING_PREFIX: backup-
        BACKUP_RETENTION_DAYS: 7
      volumes:
        - /mnt/Backups/Volumes/harlan-raspi1:/archive
        # volumes to backup:
        - homebridge:/backup/homebridge:ro
        - portainer-agent-data:/backup/portainer-agent-data:ro

lightdm_autologin_user: pi
lightdm_xorg_create_video_dummy: yes

sudoers:
  - user: pi
    passwordless: true

tailscale_args: --accept-routes

raspberry_pi_wifi_country: US
raspberry_pi_video_group_users:
  - pi
raspberry_pi_swap_size_mb: 0
