ansible_host: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  61653761623965656666653866346532643933313466303235376434383831336331353363386137
  3938323662386166653131313937383466303061383433300a376364336636633935306165643038
  39653564373262636662653037663766303439663937346363326535383833656563313930666466
  3565393466663866380a393431376532663161663634363462656337363931346531326237346465
  63613834383635663732626331323565383332643064393933353761663563393134

additional_env_vars: # TODO: Why is this needed?
  XAUTHORITY: /home/pi/.Xauthority
  DISPLAY: :0

authorized_keys:
  - key: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMNxxAEcT71BAXlVhmi76gjI26BkXwjAgcLaPLIMI+i8 dmiller
    user: pi
    state: present
  - key: ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBPUgzXYNTvTCcUHjzdXvy2LZA6YFZKrHrfsse3ipP2ldbhnmU/Io9I/lUligmdaCFktcxwgzZRYawWJI1IsUnZA= dmiller
    user: pi
    state: present
  - key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQChNryHWkasg7O7YLfLSffWjrP+e6eAt5olYIPgBCeqBgPHYK3sJkAo/UHuJ1SQA22qMQlHI/2m2chASZ7tbbkaBEkWlBlbAQpwleuJE0WBN8hJd49dJToW9d6q6hNwq9bmnlA/VTkzsLAqpSEANnO28WMhHI+Upn924L4lC4tVJQmSUPm8ENgU5RVW9EcSkfIBPrIdFW0zqxPEFzZXlaOqxmbOvgS4qWirjHe4PXC1Z8DeYlK9DSTM/KGX0pz8Jgz0shKwxDpdn/j36KP1jlygwrWmnDXuWuMuU44HjMZzA3A9XKuHqiROrv1K0A4M1t5DN/UbWSNQBhQOWdica2Qaek2+dUQ5m5bgYw7sSTW5Oz/jvWU71NdFhmN9eXCJukiN7UwznecnOHf0O/Si5fFf6iJzLjHELi1JKzVLvADyZTlaxmZB82MmveB99eArOUquaeO4rOHugmOVosW/Gg4wj1j19gFy0E+yVuP01tg999YF2ST8l6Z81w2xBrZYKKw+tgQlm/WbxkzRxnumTx7JH/AddFTZvTADQB11DRySmrWBKC4QCGo8+8SdwitHt6WzDZAuOqYPK+mtMtGY3TKGazRRUvCKVTALamJWjbZcizQGj3PqfVr8+wB/+TzsUU9vJPPo9skZrYHwom/3Wu1TlAAaYd8hTriqGK7gzm1CNw== dmiller
    user: pi
    state: present

additional_docker_users:
  - pi
docker_compose_definition:
  networks:
    apps:
      driver: bridge
  volumes:
    portainer-agent-data:
    homebridge:
  services:
    portainer-agent:
      container_name: portainer-agent
      image: portainer/agent:latest
      restart: always
      networks:
        - apps
      volumes:
        - /var/lib/docker/volumes:/var/lib/docker/volumes
        - /var/run/docker.sock:/var/run/docker.sock
        - /:/host
        - portainer-agent-data:/data
      environment:
        TZ: America/Chicago
        EDGE: 1
        EDGE_ID: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          63313638663666613539663030383331376663666165626661666633313933643261613034303862
          3266303462396537343666646539653266346133313638640a323631643636623962653438633031
          39303866303037356464326565333434376434373337343839616363316465623136646665313033
          3661376531653538320a653636303438376332623837343830363461616465653063393734613632
          66366565626536313162376364653130343133656230356234653136353730663961396236626338
          6562653739356365393766313639663464663538373533663938
        EDGE_KEY: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          32353537323833623636366463643135313737393135366531386265366662633264373136313837
          3830643166646164343034316465336230623631353630320a633162656337306563313466343131
          64343934623039383035343330313661646462383634356237653733666133316337396531393837
          3661353038363163300a663931646138313730323763623530666433363136343634666430656633
          64306437303132626466303862623539343632333635316133656537653361336362346131386266
          62353435626466343138313362616533396132393931313834313732363762666266343832346237
          33346539373434376365326562313761353236393832643532623066643337663637636262646536
          38373937613163316365353065356331636263643633333838623066643731663130316335656431
          36626466326636646536396436633366636130386437393336356662656539623538313238313564
          37633834353032373665303036396638613065363765353831333765663734323766373539383063
          333339643539646137653533333136616234
        EDGE_INSECURE_POLL: 1
    homebridge:
      container_name: homebridge
      restart: unless-stopped
      image: homebridge/homebridge:latest
      network_mode: host
      logging:
        driver: json-file
        options:
          max-size: "10mb"
          max-file: "1"
      volumes:
        - homebridge:/homebridge
      environment:
        TZ: America/Chicago
    docker-volume-backup:
      container_name: docker-volume-backup
      image: offen/docker-volume-backup:latest
      restart: unless-stopped
      networks:
        - apps
      environment:
        BACKUP_CRON_EXPRESSION: "0 0 * * *"
        BACKUP_FILENAME: backup-%Y-%m-%dT%H-%M-%S.tar.gz
        BACKUP_PRUNING_PREFIX: backup-
        BACKUP_RETENTION_DAYS: 7
      volumes:
        - /mnt/Backups/Volumes/mertins-raspi1:/archive
        # volumes to backup:
        - homebridge:/backup/homebridge:ro
        - portainer-agent-data:/backup/portainer-agent-data:ro

lightdm_autologin_user: pi
lightdm_xorg_create_video_dummy: yes

sudoers:
  - user: pi
    passwordless: true

tailscale_args: --accept-routes

raspberry_pi_wifi_country: US
raspberry_pi_video_group_users:
  - pi
raspberry_pi_boot_config_options:
  - option: gpu_mem
    value: 160
raspberry_pi_swap_size_mb: 0
