[Unit]
Description={{ msi_rgb_service }}
OnFailure=status-mail@{{ msi_rgb_service }}.service

[Service]
Type=simple
ExecStart={{ msi_rgb_binary }} {{ msi_rgb_command }}
WorkingDirectory=/tmp
SyslogIdentifier={{ msi_rgb_service }}

[Install]
WantedBy=multi-user.target
