[Unit]
Description={{ ccminer_service }}
After=network.target
OnFailure=status-mail@{{ ccminer_service }}.service

[Service]
Type=simple
{% if ccminer_overclock_at_start|default()|bool and ccminer_overclock_command|trim %}
ExecStartPre={{ ccminer_overclock_command|trim }}
{% endif %}
ExecStart={{ ccminer_install_dir }}/ccminer \
    --config="{{ ccminer_config_dir }}/{{ ccminer_coin }}.json" \
WorkingDirectory=/tmp
KillMode=mixed
KillSignal=SIGINT
SyslogIdentifier={{ ccminer_service }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
