[Unit]
Description=Start x11vnc at startup.
After=multi-user.target
OnFailure=status-mail@x11vnc.service

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -xkb -noxrecord -noxfixes -noxdamage -nevershared -display {{ x11vnc_display }} -auth "/var/run/lightdm/{{ root_user|default('root') }}/{{ x11vnc_display }}" -forever -rfbauth "{{ x11vnc_rfb_pass_file }}" -rfbport {{ x11vnc_rfb_port|int }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
