[[inputs.exec]]
  interval = "{{ coin_stats_interval_s|int }}s"
  commands = [
    "{{ coin_stats_script_install_dir }}/coin-stats --api-key '{{ coin_stats_coinmarketcap_api_key }}' {{ ' '.join(coin_stats_coinmarketcap_ids) }}",
  ]
  timeout = "{{ coin_stats_timeout_s|int }}s"
  data_format = "influx"
